<h4> Import Library Pandas </h4>

In [1]:
import pandas as pd

<h4> Đọc File Salaries.csv bằng hàm <strong style="color: red"> pd.read_cvs() </strong> </h4>

In [5]:
salary = pd.read_csv("Salaries.csv")

<h4>In file salaries.csv đã đọc bằng hàm <strong style="color: red"> print() </strong> </h4>

In [7]:
print(salary)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

<h4> Kiểm tra header của dataframe bằng hàm <strong style="color: red"> head() </strong> </h4>

In [17]:
salary.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

<h4> Dùng hàm <strong style="color: red"> info() </strong> để kiểm tra có bao nhiêu cột, và datatype của cột tương ứng, và đếm các giá trị non-null </h4>

In [9]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Bài toán 1: Tính trung bình cột BasePay bằng hàm <strong style="color: red"> mean() </strong>

In [14]:
salary['BasePay'].mean()

66325.4488404877

Bài toán 2: Tìm giá trị lớn nhât của cột OvertimePay bằng hàm <strong style ="color: red"> max() </strong>

In [15]:
salary['OvertimePay'].max()

245131.88

Bài toán 3: Tìm tất cả thông tin của nhân viên JOSEPH DRISCOLL <br>
<i> Gợi ý: Dùng Index để truy xuất 1 dòng sau đó ra dòng của nhân viên đó
-> truy xuất vào cột bằng ['tên cột'] </i>

In [30]:
joe_info = salary[salary['EmployeeName'] == 'JOSEPH DRISCOLL'] #get row where EmployeeName=='JOSEPH DRISCOLL' ->return 24
joe_jobtitle = salary[salary['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'] #salary[24]['Jobtitle'] truy xuất vào cột JobTitle
joe_benefit = salary[salary['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

print('-'*50)
print(joe_info)
print('-'*50)
print(joe_jobtitle)
print('-'*50)
print(joe_benefit)

--------------------------------------------------
    Id     EmployeeName                   JobTitle    BasePay  OvertimePay  \
24  25  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION  140546.86     97868.77

    OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
24  31909.28       NaN  270324.91         270324.91  2011    NaN

           Agency  Status
24  San Francisco     NaN
--------------------------------------------------
24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object
--------------------------------------------------
24    270324.91
Name: TotalPayBenefits, dtype: float64

Bài toàn 4: Tìm nhân viên được trả lương cao nhất (including benefits)

In [37]:
emp_info = salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].max()]
emp_name = salary[salary['TotalPayBenefits'] == salary['TotalPayBenefits'].max()]['EmployeeName']

print(emp_info)
print('-'*50)
print(emp_name)
print('-'*50)
salary.loc[salary['TotalPayBenefits'].idxmax()]

   Id    EmployeeName                                        JobTitle  \
0   1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18          0.0  400184.25       NaN  567595.43         567595.43

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
--------------------------------------------------
0    NATHANIEL FORD
Name: EmployeeName, dtype: object
--------------------------------------------------

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

Bài toán 5: Tìm nhân viên được trả lương thấp nhất <strong style = "color: red"> sal.loc() </strong> <br>
<i> hàm loc() return 1 cái series </i>

In [36]:
salary.loc[salary['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

Bài toàn 6: Tính trung bình (mean) BasePay của tất cả nhân viên theo từng năm? <strong style="color: red" > groupy() </strong>

In [38]:
salary.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Bài toán 7: Có bao nhiêu unique job dùng hàm <strong style ="color: red" > nunique() </strong>

In [39]:
salary['JobTitle'].nunique()

2159

Bài toán 8: Tìm Top 5 common job <br>
<strong style = "color: red"> value_counts() </strong>

In [40]:
salary['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

Bài toán 9: Có bao nhiêu Job Title được đại diện bởi một người trong năm 2013 <br>

<i> salary[dòng có year = 2013][cột JobTitle] </i>

In [45]:
salary[salary['Year']==2013]['JobTitle'].value_counts() == 1

JobTitle
Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
                                  ...
Sr General Utility Mechanic        True
Sprv Adult Prob Ofc (SFERS)        True
Mayoral Staff XII                  True
Pr Investigator, Tax Collector     True
Senior Assessment Clerk            True
Name: count, Length: 1051, dtype: bool